
<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>CC BY-SA 3.0 <img src="images/by-sa.png"></p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          {% include top-nav.html %}
        </ul>
      </div>
    </div>
  </div> 
</footer>
<script>
document.write('<script src=js/' +
('__proto__' in {} ? 'zepto' : 'jquery') +
'.js><\/script>')
</script>
<script src="js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>