<p style="text-align: right; margin-top: 20pt;">
    <span class="nav">
        <a href="/">Home</a> | 
        <a href="/download.html">Download</a> |
        <a href="/hardware/">Toys</a> |
        <a href="/blog/">Blog</a> | 
        <a href="/about.html">About</a> |
        <a href="/search.html">Search</a> |
        <a href="/docs/">Support</a>
    </span>
</p>
