<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="brand" href="/">concurrency.cc</a>
      <div class="nav-collapse collapse" id="main-menu">
       <ul class="nav pull-right" id="main-menu-left">
         <li><a href="/downloads">Download</a></li>
         <li><a href="/docs">Docs</a></li>
         <li><a href="/help.html">Help</a></li>
         <li><a href="/community">Community</a></li>
         <li><a href="/about.html">About</a></li>
       </ul>
      </div>
    </div>
  </div>
</div>
