<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Concurrency: {{ page.title }}</title>
{% include head.liquid %}

</head>
<body>
<div id="top" style="background-image: url(/images/20100130-cc-logo2.png);background-repeat: no-repeat;background-position: right top;">
    <!-- Heading -->
    <div class="container_12">
        <div class="grid_6 pagehead">
        <h1>concurrency.cc</h1>
        {% include tagline.liquid %}
        </div>
        
        <div id="head" class="grid_6">
            {% include navbar.liquid %}
        </div>

        <div id="info" class="grid_12">
            {% include motd.liquid %}
        </div>

        <div class="grid_8">
            <p align="center">
                <img src="/images/freeduino/purple-freeduino-small.jpg" />
            </p>
        </div>

        <div class="grid_4">
            <h2>Download</h2>
            <p><a href="/download.html">Download</a> our programming environment and get started exploring parallel programming on the Arduino.</p>
            
            <h2>The Book</h2>
            <p><a href="/book/">Plumbing for the Arduino</a> is a free text introducing parallel programming on the popular Arduino platform.</p>
        </div>

    </div>

    <br clear="both">
</div>

{% include bottom_homepage.liquid %}

</body>
</html>
